<div id="page-wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="/">Curare Desio</a></h1>
  </header>


  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><span class="icon fa-leaf"></span></div>
      <h2>Curare Desio</h2>
      <p>Progetto collaborativo di rafforzamento della resilienza del sistema territoriale desiano</p>
    </div>
  </section>

  <!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <a href="http://www.fondazionecariplo.it/static/upload/fc_/fc_16ambcomunita_web.pdf" target="_blank" class="image"><img src="images/bando-cariplo.jpg" alt="" /></a>
        <div class="content">
          <h2 class="major">Bando "Comunità Resilienti - 2016"</h2>
          <p><a href="http://www.agenziainnova21.org" target="_blank">Agenzia InnovA21</a> e <a href="http://comune.desio.mb.it" target="_blank">Comune di Desio</a> hanno presentato il progetto al bando <em>Comunità Resilienti - 2016</em> e Fondazione Cariplo ha poi sostenuto con un contributo il progetto CURARE DESIO.</p>
          <a href="http://www.fondazionecariplo.it/static/upload/fc_/fc_16ambcomunita_web.pdf" target="_blank" class="special">Guarda il bando</a>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <a href="https://github.com/curaredesio" target="_self" class="image"><img src="images/constructocat2.jpg" alt="" /></a>
        <div class="content">
          <h2 class="major">GitHub</h2>
          <p>È stato creato uno spazio dove pubblicare i dati, le mappe e il software costruiti durante lo sviluppo del progetto.</p>
          <p>L'uso di <em>licenze aperte</em> favorisce l'accesso e il riutilizzo.</p>
          <p>Anche <a href="https://github.com/curaredesio/sito" target="_blank">il codice sorgente di questo sito</a> è liberamente accessibile ;-)</p>
          <a href="https://github.com/curaredesio" target="_self" class="special">Esplora</a>
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
      <div class="inner">
        <a href="https://groups.google.com/d/forum/curaredesio" target="_self" class="image"><img src="images/email.jpg" alt="" /></a>
        <div class="content">
          <h2 class="major">Mailing list</h2>
          <p>Gli enti partecipanti si scambiano informazioni tramite una mailing list (<em>Google Groups</em>) accessibile all'indirizzo <a href="mailto:curaredesio@googlegroups.com">curaredesio@googlegroups.com</a></p>
          <p>Per poter accedere alla mailing list è necessario richiederne l'accesso.</p>
          <a href="https://groups.google.com/d/forum/curaredesio" target="_self" class="special">Accedi all'archivio web</a>
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt spotlight style4">
      <div class="inner">
        <a href="https://trello.com/b/vRPP7UKN/attivita" target="_self" class="image"><img src="images/trello.png" alt="" /></a>
        <div class="content">
          <h2 class="major">Attività</h2>
          <p>Lo stato delle attività viene aggiornato all'interno di uno spazio pubblico, una <em>Bacheca</em> Trello, permettendo sia agli enti partecipanti che ai cittadini di seguirne le evoluzioni, favorendo anche il suggerimento di idee.</p>
          <a href="https://trello.com/b/vRPP7UKN/attivita" target="_self" class="special">Visualizza la bacheca delle attività</a>
        </div>
      </div>
    </section>

    <!-- Five -->
    <section id="five" class="wrapper style5">
      <div class="inner">
        <h2 class="major">Partecipanti</h2>
        <p>Gli enti e le associazioni che partecipano al progetto.</p>
        <section class="features">
          <article>
            <a href="http://www.agenziainnova21.org" target="_self" class="image"><img src="images/enti/agenzia-innova21.png" alt="" /></a>
            <h3 class="major">Agenzia InnovA21 per lo Sviluppo Sostenibile</h3>
            <p>Siamo un'associazione senza finalità di lucro impegnata nella diffusione della cultura della sostenibilità ambientale.</p>
            <p>Lavoriamo quotidianamente per cambiare la realtà verso un mondo più sostenibile e più vicino ai bisogni umani.</p>
            <a href="http://www.agenziainnova21.org" target="_self" class="special">Guarda il sito</a>
          </article>
          <article>
            <a href="http://comune.desio.mb.it" target="_self" class="image"><img src="images/enti/comune-desio.jpg" alt="" /></a>
            <h3 class="major">Comune di Desio</h3>
            <a href="http://comune.desio.mb.it" target="_self" class="special">Guarda il sito</a>
          </article>
          <article>
            <a href="http://www.abbracciebaci.it/" target="_self" class="image"><img src="images/enti/abbracciebaci.png" alt="" /></a>
            <h3 class="major">#abbracciebaci</h3>
            <p>Difficile trovare un modo comune per descriverlo, più facile sarebbe con un’immagine piena di colori che si armonizzano fra loro. Ecco #abbracciebaci è questo: un gruppo eterogeneo e anche un po’ strampalato che si è incontrato per caso e che attraverso parole, idee, sogni ha voglia di creare eventi che favoriscano lo sviluppo e l’evoluzione del panorama culturale e sociale.</p>
            <a href="http://www.abbracciebaci.it/" target="_self" class="special">Guarda il sito</a>
          </article>
        </section>
      </div>
    </section>

  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <h2 class="major">Contatti</h2>
      <ul class="contact">
        <li class="fa-envelope"><a href="mailto:partecipazione@comune.desio.mb.it">partecipazione@comune.desio.mb.it</a></li>
        <li class="fa-twitter"><a href="https://twitter.com/curaredesio" target="_self">@curaredesio</a></li>
        <li class="fa-facebook"><a href="https://facebook.com/curaredesio" target="_self">@curaredesio</a></li>
        <li class="fa-instagram"><a href="https://instagram.com/curaredesio" target="_self">@curaredesio</a></li>
      </ul>
      <ul class="copyright">
        <li>
          <a href="http://creativecommons.org/licenses/by-sa/4.0/">
            License CC-SA-BY 4.0
          </a>
        </li>
        <li>
          Fatto con <span class="hearth">♥</span> da <a href="https://github.com/curaredesio/sito/graphs/contributors">i geek di Curare Desio</a>
        </li>
        <li>
          <a href="https://html5up.net/solid-state">Solid State Theme</a>
          built by <a href="http://html5up.net/">HTML5 UP</a>
          and licensed under the
          <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>
        </li>
      </ul>
      <ul class="badges">
        <li>
          <a href="https://www.netlify.com" class="footer-badge" title="Deploys by Netlify" target="_BLANK">
            <img src="/images/netlify-dark.svg" height="37px">
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/olistik/blog" class="footer-badge" title="Source code on GitLab" target="_BLANK">
            <img src="/images/github.png" height="37px">
          </a>
        </li>
        <li>
          <a href="https://middlemanapp.com" class="footer-badge" title="Static site generated with Middleman" target="_BLANK">
            <img src="/images/middleman.svg" height="37px">
          </a>
        </li>
    </ul>
    </div>
  </section>

</div>
